/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font: 'Poppins', sans-serif;
	vertical-align: baseline;
}
@font-face{
    font-family: poppins;
    src: url(fonts/poppins-medium.ttf);
}


#page{
    position: relative;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    border-style: none;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
    background-color: rgba(10, 10, 10, 0.90);
    border-radius: 5px;
}

body {
    background-image: url('img/fondIndexubcovoit2.png');
    background-size: cover;
    background-repeat: repeat;
    background-position-y: -100px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(31, 31, 31);
}






div#page h1{
    text-align: center;
    color: #f46917;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-size: 2.5em;
}

div#page h2{
    color: #f46917;
    margin-top: 1em;
    margin-bottom: 0.1em;
    font-size: 1.8em;
}

div#page h3{
    color: #f46917;
    margin-top: 1em;
    margin-bottom: 0.1em;
    font-size: 1.3em;
}

div#page p{
    color:white;
    text-align: justify;
    margin-bottom: 0.5em;
    font-size: 1em;
}

div#page ul{
    color:white;
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 1em;
    margin-left: 1.5em;
}


div#page div#phrase{
    color:white;
    text-align: right;
    margin-bottom: 0.5em;
    font-size: 1em;
    font-style:italic;
}


@media screen and (max-device-width: 600px) {

    /* page active */

    #page{
        margin-left: 0;
        margin-right: 0;
        height: 40em;
        /*padding-bottom: 3em;*/
    }



    /* général */

    body {
		background-image: url('img/fondIndexubcovoit2.png');
		background-size: 450%;
		background-repeat: repeat;
		background-position-y: -100px;
		background-position-x: -50%;
    }