@media screen and (max-device-width: 600px) {
    .flexColonneMobile{
        display: flex;
        justify-content: space-around;
        flex-flow: column;
        align-items: center;
    }

    td input[type="text"], td input[type="password"], td input[type="date"], td input[type="time"], td input[type="number"], td input[type="email"] {
        min-width: 86vw;
    }
}