fieldset{
    border: 0;
}

div#footer1{
    bottom: -10em;
}

div.bouton, input[type=submit]{
    border-radius: 90px;
    font-size: 2em;
    width: unset;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div.formeLevier{
    padding: 0.8em;
    background-color: rgb(31, 31, 31);
    border-radius: 90px;
    border-style: none;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: apparaitre 1s ease-out;
    margin-top: 2em;
}

a.levier{
    font-size: 2em;
    font-family: inherit;
    text-decoration: none;
    color: rgb(236, 236, 236);
}

a.levier:hover{
    background-color:rgb(56, 56, 56);
}

div#pasConducteur{
    padding: 0.8em;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
    border-style: none;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: apparaitre 1s ease-out;
    margin-top: 2em;
    margin-bottom: 3em;
    background-color: rgb(31, 31, 31);
    text-align: center;
}

p#pasConducteur{
    color: whitesmoke;
}

p#pasConducteur a{
    color: #f46917;
    text-decoration: underline #f46917 dotted 2px;
}

p#pasConducteur a:hover{
    color: orange;
    text-decoration: underline orange solid 3px;
}


div.flexLigne{
    width: 80vW;
    justify-content: space-around;
}


@media screen and (max-device-width: 600px) {

    /* page active */

    a.TexteBouton{
        font-size : 0.6em;
    }

    a.levier{
        font-size: 1.2em;
    }

    div.bouton{
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.5em;
        padding-bottom: 0.1em;
        padding-top: 0.0005em;
    }


    @keyframes basEnHautMobile{
        from{height: 10em;}
        to{height: 8em;}
    }
    
    @-moz-keyframes basEnHautMobile{
        from{height: 10em;}
        to{height: 8em;} 
    }

    div.animBasHautMobile{
        animation: basEnHautMobile 1s ease-out;
        -moz-animation: basEnHautMobile 1s ease-out;
        height: 8em;
    }

    div.flexColonne{
        width: 90vw;
    }
    div.flexLigne{
        justify-content: center;
    }
}