fieldset{
    border: 0;
}

div#footer1{
    bottom: -10em;
}

a.bouton, input[type=submit]{
    border-radius: 90px;
    font-size: 2em;
}

a.levier{
    padding: 0.8em;
    background-color: rgb(31, 31, 31);
    color: rgb(236, 236, 236);
    border-radius: 90px;
    border-style: none;
    text-decoration: none;
    font-size: 2em;
    font-family: inherit;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: apparaitre 1s ease-out;
}

a.levier:hover{
    background-color:rgb(56, 56, 56);
}

div.flexLigne{
    width: 80vW;
    justify-content: space-around;
}

div.animBasHaut{
    animation: basEnHautIndex 1s ease-out;
    -moz-animation: basEnHautIndex 1s ease-out;
    height: 5em;
}

@keyframes basEnHautIndex{
    from{height: 8em;}
    to{height: 5em;}
}

@-moz-keyframes basEnHautIndex{
    from{height: 8em;}
    to{height: 5em;} 
}

@media screen and (max-device-width: 600px) {

    /* page active */

    a.bouton, a.levier{
        font-size : 1.2em;
    }

    a.bouton{
        margin-top: 10em;
        margin-bottom: 10em;
    }


    @keyframes basEnHautMobile{
        from{height: 10em;}
        to{height: 8em;}
    }
    
    @-moz-keyframes basEnHautMobile{
        from{height: 10em;}
        to{height: 8em;} 
    }

    div.animBasHautMobile{
        animation: basEnHautMobile 1s ease-out;
        -moz-animation: basEnHautMobile 1s ease-out;
        height: 8em;
    }

    div.flexColonne{
        width: 90vw;
    }
    div.flexLigne{
        justify-content: center;
    }
}