div#page{
    background-color: rgba(10, 10, 10, 0.88);
}

div#page h1{
    text-align: center;
    color: #f46917;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-size: 2.5em;
}

div#page h2{
    color: #f46917;
    margin-top: 1em;
    margin-bottom: 0.1em;
    font-size: 1.8em;
    text-align: left;
}

div#page h3{
    color: #f46917;
    margin-top: 1em;
    margin-bottom: 0.1em;
    font-size: 1.3em;
}

div#page p{
    color:white;
    text-align: justify;
    margin-bottom: 0.5em;
    font-size: 1em;
}

div#page ul{
    color:white;
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 1em;
    margin-left: 1.5em;
}


div#page div#phrase{
    color:white;
    text-align: left;
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 1em;
}

div#page a{
    color:rgb(243, 167, 54)
}

div#page div#général{
    color:white;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1em;
    font-style:italic;
}


@media screen and (max-device-width: 600px) {

    div#page {
        width: 95vw;
        padding-right: 0.5em;
        padding-left: 0.5em;

}