#logoUB{
    width: 13em;
    margin: 1.5em;
}

div a.bouton, div input.bouton{
    margin: 1vw;
    width: unset;
}

input[type="email"],input[type="password"]{
    padding: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-style: none;
    border-radius: 30em;
    background-color: whitesmoke;
    font-size: inherit;
    background-image: linear-gradient(#cecece, #cecece);
    background-repeat: no-repeat;
    transition: background-size .3s, color .3s;
    margin: 1vw;
    min-width: 19em;
}

input[type="password"]:focus,input[type="email"]:focus{
    outline: none;
    background-size: 100% 100%;
    color: #000;
    transform: transition;
}


fieldset{
    text-align: center;
    border-style: none;
    padding-left: 6em;
    padding-right: 6em;
    background-color: rgba(10, 10, 10, 0.65);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: apparaitre 1s ease-out;
    color: whitesmoke;

}
