body {
    background-image: url("fondIndexubcovoit1.png");
    background-size: auto;
    background-repeat: no-repeat;
   }

   a.bouton, input[type=submit]{
    padding: 0.8em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    background-color: #f46917;
    color: black;
    border-radius: 25px;
    border-style: none;
    text-decoration: none;
    font-size: 20px;
    width: 200px;
}

a.bouton:hover, input[type=submit]:hover{
    background-color:orange;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    font-size: 20px;
}

.flexColone{
    display: flex;
    justify-content: space-around;
    flex-flow: column;
}

.fieldflex{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: 2em;
}

fieldset{
    text-align: center;
    border-color: #f46917;
    border-style: solid;
    padding-left: 5em;
    padding-right: 5em;
}

.centre{
    text-align: center;
}

h2{
    color: #f46917;
}

/*#fond{
    padding-top: 5em;
    padding-bottom: 5em;
    padding-right: 15em;
    padding-left: 15em;
    background-color: whitesmoke;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}*/

#divlogo{
    display: flex;
    justify-content: space-around;
}

#logo{
    width: 300px;
    margin-top: 3em;
}

input[type=text], input[type=checkbox]{
    border-style: none;
    background-color: white;
    border-radius: 5px;
    padding: 0.5em;
    padding-left: 3.5em;
}

div.flexLigne{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.navbar{
    list-style-type: none;
    margin: 0px;
    padding: 0.5em;
    background-color: orange;
    z-index: 10;
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 0px;
    left: 0px;
}

#logoAccueuil{
    width: 100px;
}