body { 
	margin: 0;}

@font-face{
    font-family: poppins;
    src: url(../fonts/poppins-medium.ttf);
}

/*Navbar*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    font-size: 1.1em;
    background-image: url('../img/fondIndexubcovoit2.png');
    background-size: cover;
    background-repeat: repeat;
    background-position-y: -100px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(31, 31, 31);
}


 .navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
    z-index: 10;
    width: 100%;
    height: 3em;
    display: flex;
    position: fixed;
    justify-content: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.navbar li .onglet {
    color: whitesmoke;
    text-decoration: none;
    font-weight: lighter;
    margin-top: 4em;
    font-size: 1.1em;
    padding: 1.5em;
    padding-bottom: 1em;
}

.navbar li {
    margin-top: 0.5em;
}

#logoAccueuil{
    width: 3.8em;
    margin-top: -0.3em;
    margin-left: 0.8em;
}

.navbar li a:hover{
    background-color: rgb(43, 41, 39);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 5px 5px;
}

.mobileTexte{
    font-weight: normal;
}

#navbarEspace{
    height: 4em;
}


/*page*/
#page{
    position: relative;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 4em;
    text-align: center;
    border-style: none;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
    background-color: rgba(10, 10, 10, 0.65);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: apparaitre 1s ease-out;
}

#bandeau{
    position: sticky;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1em;
    text-align: justify;
    border-style: none;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1em;
    padding-top: 0.3em;
    background-color: #f46917;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#bandeau h1{
    color: black;
}


/*Elements*/

h1{
    position: relative;
    top : 0em;
    color: #f46917;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    font-size: 1.8em;
}


h2{
    color: #f46917;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    font-size: 1.8em;
}


p a.bouton, .bouton{
    padding: 0.8em;
    margin: 1em;
    background-color: #f46917;
    color: black;
    border-radius: 30px;
    border-style: none;
    text-decoration: none;
    font-size: inherit;
    width: 200px;
    font-family: inherit;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.TexteBouton, input.TexteBouton{
    text-decoration: none;
    color: black; 
}

.bouton:hover{
    background-color:orange;
}

.switch{
    position: relative;
    padding: 0;
    margin: 1em;
    top: 1em;
    background-color: #dadada;
    color: black;
    border-radius: 30px;
    border-style: none;
    text-decoration: none;
    font-size: inherit;
    min-width: 200px;
    font-family: inherit;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 -6px 20px 0 rgba(0, 0, 0, 0.3) inset;
    display: flex;
    flex-flow: row;
}

.switch:hover{
    box-shadow: 0 0 8px honeydew inset;
}

.switch a{
    color: black;
    background-color: transparent;
    padding: 0.7em;
    border-radius: 30px;
    border-style: none;
    text-decoration: none;  
}

.switch a.selectionne{
    color: black;
    background-color: #f46917;
    border: none;
    padding: 0.7em;
    border-radius: 30px;
    border-style: none;
    text-decoration: none;
}

.switch a.droite{
    box-shadow: -15px 0px 15px -10px rgba(0,0,0,0.75);
}

.switch a.gauche{
    box-shadow: 15px 0px 15px -10px rgba(0,0,0,0.75);
}

.textArea{
    background-color: lightgray;
    color:  rgb(31, 31, 31);
    border-radius: 5px;
    padding: 0.1rem;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 20vw;
    align-self: stretch;
}

.etiquette, .etiquetteTexte{
    color: lightgrey;

}

.etiquetteTexte{
    margin-top: 2em;
}

label{
    color: whitesmoke;
}

.info{
    background-color: lightgray;
    color:  rgb(31, 31, 31);
    border-radius: 5px;
    padding: 0.1rem;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.2em;
    margin-left: 1em;
    margin-right: 1em;
    min-width: 18.5em;
}

input[type=text], input[type=checkbox]{
    border-style: none;
    background-color: lightgray;
    border-radius: 30px;
    padding: 0.5em;
    padding-left: 3.5em;
}

input[type="text"],input[type="password"], input[type="date"], input[type="time"], input[type="number"], input[type=email]{
    padding: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.5em;
    border-style: none;
    border-radius: 30em;
    background-color: lightgray;
    font-size: inherit;
    background-image: linear-gradient(whitesmoke, whitesmoke);
    background-repeat: no-repeat;
    transition: background-size .3s, color .3s;
    min-width: 18.5em;
}

input[type="date"], input[type="time"]{
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    padding-left: 2.4em;
    padding-right: 2em;
}

div.error{
    color: rgb(255, 55, 88);
}

div.normal-trajet{
    background-color: lightgray;
    border-radius: 5px;
    padding: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.3em;
    color: black;
}

div.normal-trajet h2{
    color: black;
    font-size: 1.2em;
}

.infoTrajet{
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
    padding-top: 0.005rem;
    padding-bottom: 0.005rem;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-bottom: 0.8em;
}

.profil{
    color: rgb(182, 58, 0);
    text-decoration: underline rgb(182, 58, 0) 2px dotted;
}

.profil:hover{
    text-decoration: underline rgb(131, 48, 0) 3px solid;
    color: rgb(131, 48, 0);
}

#resultats{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/*Flexbox*/

.flexLigne{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flexColonneDroite{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: flex-end;
}

.flexColonne{
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

tr td:first-child{
    text-align: left;
}

/*animations*/

.animBasHaut{
    animation: basEnHaut 1s ease-out;
    -moz-animation: basEnHaut 1s ease-out;
    height: 0em;
}

@keyframes basEnHaut{
    from{height: 2.5em;}
    to{height: 0em;}
}

@-moz-keyframes basEnHaut{
    from{height: 2.5em;}
    to{height: 0em;} 
}

.center-right-left{
    background-position: 50% 50%;
}
.center-right-left{
    background-size: 0% 100%;
}

input.center-right-left:focus{
    outline: none;
    background-size: 100% 100%;
    color: #000;
    transform: transition;
}


/*Footer*/
div#footer a{
    color: rgb(19, 19, 19);
    text-decoration: none;
    font-size: 1em;
    padding: 0.2em;
}

#footer a:hover{
    text-shadow: 1px 1px 10px whitesmoke;
}

div#footer{
    background-color: lightgray;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    bottom: 0;
    padding-bottom: 0.1em;
    padding-left: 15em;
    padding-right: 15em;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

#footer1{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    position: relative;
    bottom: -6em;
}

@media screen and (max-device-width: 600px) {

    /* page  */

    #page{
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: -2em;
        overflow-x: clip;
    }

    div.animBasHaut{
        animation: none;
        -moz-animation: none;
        height: 0;
    }

    #bandeau{
        padding-right: 0.5em;
        padding-left: 0.5em;
        padding-bottom: 0.1em;
        font-size: 0.8em;
    }
    
    h1{
        font-size: 1.2em;
    }


    .flexLigne{
        flex-flow: wrap;
    }

    /*Elements*/
    .textArea{
        max-width: 15em;
        flex-grow: 2;
    }

    .switch{
        font-size: 0.8em;
    }
    
    .info{
        padding-right: 0;
        padding-left: 0;
    }


    /* général */

    body {
		background-image: url('../img/fondIndexubcovoit2.png');
		background-size: 450%;
		background-repeat: repeat;
		background-position-y: -100px;
		background-position-x: -50%;
    }


    /* navbar */

    .navbar{
        height: 3.2em;
        width: 100vw;
    }
   
    #logoAccueuil{
        margin-top: 0.3em;
        width: 15vw;
        margin-left: 0.5em;
    }
   
   
    .mobileTexte{
        visibility: hidden;
        font-size: 0.1em;
    }
   
    #navbarEspace{
        height: 3.2em;
    }

    svg.icon{
        width: 2em;
        height: 2em;
        margin-right: 0.1rem;
        margin-left: 0.1rem;
    }
   
    .navbar li a:hover{
        background-color: transparent;
        box-shadow: 0 0 0 0;
        border-radius: 0px 0px 5px 5px;
        text-shadow: 1px 1px 10px white;
    }

    .navbar li{
        margin-top: 0.5em;
   
    }
    
    /* footer */

    div#footer a{
        color: rgb(19, 19, 19);
        text-decoration: none;
        width: 100vw;
        font-size: 0.8em;
        padding: 0;
        text-align: center;
    }
}