/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'Poppins', sans-serif;
	vertical-align: baseline;
}

@font-face{
    font-family: poppins;
    src: url(fonts/poppins-medium.ttf);
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    font-size: 1.2em;
}


 .navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
    z-index: 10;
    width: 100%;
    height: 3em;
    display: flex;
    position: relative;
    justify-content: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.navbar li .onglet {
    color: whitesmoke;
    text-decoration: none;
    margin-top: 4em;
    font-size: 1.2em;
    padding: 1.5em;
    padding-bottom: 1em;
}

.navbar li {
    margin-top: 0.5em;
}

#logoAccueuil{
    width: 3.8em;
    margin-top: -0.3em;
    margin-left: 0.8em;
}

.navbar li a:hover{
    background-color: rgb(43, 41, 39);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 5px 5px;
}

@media screen and (max-device-width: 600px) {
	.navbar{
		height: 4em;
	}

	#logoAccueuil{
		margin-top: 0.3em;
	}

	div#footer div a{
		font-size: 1em;
	}

	.mobileTexte{
		visibility: hidden;
		font-size: 0.1em;
	}

	svg.icon{
		width: 2.5em;
		height: 2.5em;
	}

	.navbar li a:hover{
		background-color: transparent;
		box-shadow: 0 0 0 0;
		border-radius: 0px 0px 5px 5px;
		text-shadow: 1px 1px 10px white;
	}

	div#footer a{
		color: rgb(19, 19, 19);
		text-decoration: none;
		font-size: 3em;
		padding: 1em;
	}

}

