/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font: 'Poppins', sans-serif;
	vertical-align: baseline;
}
@font-face{
    font-family: poppins;
    src: url(fonts/poppins-medium.ttf);
}

#page{
    position: relative;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    text-align: center;
    border-style: none;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
    background-color: rgba(10, 10, 10, 0.65);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: apparaitre 1s ease-out;
}

body {
    background-image: url('img/fondIndexubcovoit2.png');
    background-size: cover;
    background-repeat: repeat;
    background-position-y: -100px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(31, 31, 31);
}

.mobileTexte{
    font-weight: normal;
}

div#page h1{
    position: relative;
    top : 0em;
    color: #f46917;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    font-size: 1.8em;
}


.switch{
    position: relative;
    padding: 0;
    margin: 1em;
    top: 1em;
    background-color: #dadada;
    color: black;
    border-radius: 30px;
    border-style: none;
    text-decoration: none;
    font-size: inherit;
    min-width: 200px;
    font-family: inherit;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 -6px 20px 0 rgba(0, 0, 0, 0.3) inset;
    display: flex;
    flex-flow: row;
}

.switch a{
    color: black;
    background-color: transparent;
    padding: 0.7em;
    border-radius: 30px;
    border-style: none;
    text-decoration: none;  
}

.switch a.selectionne{
    color: black;
    background-color: #f46917;
    border: none;
    padding: 0.7em;
    border-radius: 30px;
    border-style: none;
    text-decoration: none;
}

.switch a.droite{
    box-shadow: -15px 0px 15px -10px rgba(0,0,0,0.75);
}

.switch a.gauche{
    box-shadow: 15px 0px 15px -10px rgba(0,0,0,0.75);
}

.normal-trajet{
    background-color: lightgray;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.3em;
}



.flexLigne{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flexColonne{
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: right;
    justify-content: right;
}

.flexColonne#aligneDroite .flexLigne{
    justify-content: flex-end;
}

.animBasHaut{
    animation: basEnHaut 1s ease-out;
    -moz-animation: basEnHaut 1s ease-out;
    height: 0em;
}

@keyframes basEnHaut{
    from{height: 2.5em;}
    to{height: 0em;}
}

@-moz-keyframes basEnHaut{
    from{height: 2.5em;}
    to{height: 0em;} 
}


@media screen and (max-device-width: 600px) {

    /* page active */

    /* #listeTrajets{
        display: flex;
        flex-flow: column;
    } */

    .trajet{
        flex-grow: 1;
    }


    #page{
        margin-left: 0;
        margin-right: 0;
        height: 40em;
        left: 0;
        right: 0;
        /*padding-bottom: 3em;*/
    }

    div#page h2{
        font-size: 1.2em;
    }

    .flexLigne{
        flex-flow: wrap;
    }

    .flexColonne#aligneDroite .flexLigne{
        justify-content: center;
    }


    /* général */

    body {
		background-image: url('img/fondIndexubcovoit2.png');
		background-size: 450%;
		background-repeat: repeat;
		background-position-y: -100px;
		background-position-x: -50%;
    }

    /* navbar */

    .navbar{
        height: 4em;
    }
   
    #logoAccueuil{
        margin-top: 0.3em;
    }
   
    div#footer div a{
        font-size: 1em;
    }
   
    .mobileTexte{
        visibility: hidden;
        font-size: 0.1em;
    }
   
    svg.icon{
        width: 2.5em;
        height: 2.5em;
    }
   
    .navbar li a:hover{
        background-color: transparent;
        box-shadow: 0 0 0 0;
        border-radius: 0px 0px 5px 5px;
        text-shadow: 1px 1px 10px white;
    }

    .navbar li{
        margin-top: 0.5em;
   
    }
    
    /* footer */

    div#footer a{
        color: rgb(19, 19, 19);
        text-decoration: none;
        font-size: 3em;
        padding: 1em;
    }
}