div.DeuxBtn{
    display: flex;
    flex-flow: row;
    justify-content: center; 
}

div.UnBtn{
    display: flex;
    flex-flow: row;
    justify-content: center; 
    
}


#voiture{
    bottom: 5em;
    text-decoration: none;
}

#voiture a{
    text-decoration: none;
    color: black;
}

#espace{
    height: 2em;
}

.flexColonne#aligneDroite .flexLigne{
    justify-content: flex-end;
}



@media screen and (max-device-width: 600px) {

    /* page active */

    div.DeuxBtn{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: space-around;
        margin-top: 3em;
        margin-bottom: 5em; 
    }

    #espaceMobile{
        height: 2em;
    }

    .flexColonne#aligneDroite .flexLigne{
        justify-content: center;
    }

