div.animBasHaut{
    animation: none;
}

div.flexLigne{
    justify-content: space-between;
}


div.flexColonne.input{
    align-items: stretch;
}

.levier{
    background-color: rgb(175, 175, 175);
    color: rgb(0, 0, 0);
    padding: 0.8em;
    border-radius: 30px;
    border-style: none;
    text-decoration: none;
    font-size: inherit;
    width: 200px;
    font-family: inherit;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.switch{
    position: unset;
    min-width: unset;
    justify-content: space-around;
}

div input[type="text"], input[type="date"], input[type="time"], input[type="number"]{
    min-width: 12em;
    max-width: 12em;
}

div input[type="text"]{
    padding-left: 2em;
}
@media screen and (max-device-width: 600px) {

    div.flexLigne{
        flex-flow: column;
    }
}