div.animBasHaut{
    animation: none;
}

div.flexLigne{
    justify-content: space-between;
}


div.flexColonne.input{
    align-items: stretch;
}

hr{
    width: 70vw;
    height: 2px;
    color: whitesmoke;
    background-color: whitesmoke;
}

div.levier{
    background-color: rgb(175, 175, 175);
    padding: 0.8em;
    border-radius: 30px;
    border-style: none;
    width: 200px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1em;
}

div.levier:hover{
    background-color: rgb(114, 114, 114);  
}

a.levier{
    font-family: inherit;
    color: rgb(0, 0, 0);
    font-size: inherit;
    text-align: center;
    text-decoration: none;
}



div.switch{
    position: unset;
    min-width: unset;
    justify-content: space-around;
}

div input[type="text"], div input[type="date"], div input[type="time"], div input[type="number"]{
    min-width: 12em;
    max-width: 12em;
}

div input[type="text"]{
    padding-left: 2em;
}

div#page{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a.bouton{
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

@media screen and (max-device-width: 600px) {

    div.flexLigne{
        flex-flow: column;
    }

    div#page{
        padding-left: 0;
        padding-right: 0;
    }
}