
@keyframes basEnHautRegister{
    from{height: 4.5em;}
    to{height: 2.5em;}
}

@-moz-keyframes basEnHautRegister{
    from{height: 4.5em;}
    to{height: 2.5em;} 
}

div.animBasHaut{
    animation: basEnHautRegister 1s ease-out;
    -moz-animation: basEnHautRegister 1s ease-out;
    height: 2.5em;
}


fieldset{
    text-align: center;
    border-style: none;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
    background-color: rgba(10, 10, 10, 0.70);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: apparaitre 1s ease-out;
    color: whitesmoke;
}

a.CGU{
    color: rgb(255, 240, 36);
    text-decoration: none;
    padding: 0.2em;
    border: rgb(255, 240, 36) dashed 3px;
    border-radius: 5px;
}

a.CGU:hover{
    border: rgb(255, 240, 36) solid 3px;
}


div.flexLigne{
    justify-content: space-evenly;
}

input[type="text"],input[type="password"], input[type="date"], input[type="time"], input[type="number"]{
    min-width: 19em;
}

@media screen and (max-device-width: 600px) {

    /* page active */
    fieldset{
        left: 0;
        right: 0;
        padding-right: 1em;
        padding-left: 1em;
    }
}