.flexColonne#aligneDroite .flexLigne{
    justify-content: flex-end;
}

div.bouton{
    margin: 0.2em;
    padding: 0.3em;
}

div.bouton.desinscrire{
    min-width: 13em;
}

svg.bi{
    font-size: 1em;
    padding-top: 0.2em;
}

.accepte{
    color:#0d65f1;
    font-style: italic;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.attenteAccepte{
    color:rgb(255, 240, 36);
    font-style: italic;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

div#page{
    padding-left: 0.5em;
    padding-right: 0.5em;
}


@media screen and (max-device-width: 600px) {

    /* page active */
    div#page{
        padding-left: 0;
        padding-right: 0;
    }

    .normal-trajet{
        font-size: 0.7em;
    }

    .flexColonne#aligneDroite .flexLigne{
        justify-content: center;
    }
}
