div.normal-trajet{
    background-color: lightgray;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.3em;
    color: black;
}

div.normal-trajet h2{
    color: black;
    font-size: 1.2em;
}

.flexColonne#aligneDroite .flexLigne{
    justify-content: flex-end;
}

div.bouton{
    margin: 0.2em;
    padding: 0.3em;
}

svg.bi{
    font-size: 1em;
    padding-top: 0.2em;
}


@media screen and (max-device-width: 600px) {

    /* page active */



    .normal-trajet{
        font-size: 0.7em;
    }

    .flexColonne#aligneDroite .flexLigne{
        justify-content: center;
    }
}
